@media print {
 
  body {
    font-size: 12pt;
    color: black;
    background-color: white;
  }
  .imagen-perfil{
    width: 200px;
    height: 200px;
    float: right;
    border-radius: 40%;
    border-color: black;
    border-style: groove;
    margin-right: 10%;
}
  .download {
    display: none; 
    justify-content: center;
    align-items: center;
  }

  .category-content {
    display: block !important;
  }

  h1, h2, h3, p, ul {
    margin: 0.5rem 0;
    line-height: 1.5;
  }

  ul li {
    list-style-type: disc;
    margin-left: 1.25rem;
  }

}
